@import "./mixins/constans";
@import "./mixins/responsive";

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 20px;
  font-weight: 800;
  box-shadow: 5px 5px 20px;
}
header {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0 20px;

  .inner-right {
    display: flex;
    padding-right: 40px;

    .menu-container {
      // display: flex;
      // gap: 10px;
      // font-weight: 600;

      // 반응형 셋팅
      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }

      .menu-items {
        display: flex;
        gap: 10px;

        p {
          cursor: pointer;
        }
      }
    }

    .hamberger-icon {
      display: none;
      cursor: pointer;

      // 반응형 셋팅
      @include tablet {
        display: block;
      }
      @include mobile {
        display: block;
      }
    }

    .dropDown-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: black;
      opacity: 0.85;
      color: white;
      width: 250px;
      height: 250px;
      padding: 60px 30px 30px 30px;
      position: absolute;
      top: 80px;
      right: 40px;
      font-size: 25px;

      // 반응형 셋팅
      @include mobile {
        width: 200px;
        height: 200px;

        p {
          font-size: 0.8rem;
          cursor: pointer;
        }
      }

      .close-button {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
      }
    }
  }

  // 백그라운드 투명도 조절하기
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(7px); /* 흐릿하게 만드는 효과 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 살짝 그림자 추가 */

  // 반응형 셋팅
  @include tablet {
  }
  @include mobile {
  }
}
footer {
  background-color: black;
  color: white;
  height: 150px;
}

.contants-container {
  margin: 0 auto;
  padding: 0px 20px;
  background-color: #f5f5f5;

  .sec01,
  .sec02,
  .sec03 {
    display: flex;
    gap: 30px;
    padding: 30px;
    font-size: 20px;

    .image {
      object-fit: contain;
      height: 250px;
    }

    // 반응형 셋팅
    @include mobile {
      flex-direction: column;
      font-size: 0.7rem;
    }
    @include tablet {
      flex-direction: column;
      font-size: 0.9rem;
    }
  }
  .sec01 {
    padding-top: 100px;
  }
  .sec02 {
    flex-direction: row-reverse;

    @include mobile {
      flex-direction: column;
      font-size: 0.7rem;
    }
    @include tablet {
      flex-direction: column;
      font-size: 0.9rem;
    }
  }
}
