.modalContainer {
  .modalBackdrop {
    z-index: 1; //위치지정 요소
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .modalContents {
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 20px;
      width: 500px;
      padding: 30px;
      background-color: #ffffff;

      .desc {
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
